{% extends 'base.html.twig' %}

{% block body %}
    <h1>Home page</h1>
    This is the backend of Matt's user logging system.

    <p>
        log in with an authorised user account and access the logs from your experiment
    </p>

    <p>
        have fun .. matt ..
    </p>

    <footer>
        <hr>
        <a href="https://github.com/dr-matt-smith">Matt at Github</a> &copy; Matt Smith :-)

    </footer>
{% endblock %}